* {
    color: white;
}
body {
    background-color: #cccc99;
    background-image: url("bg.jpg");
}

p {
    font-size: 2.0em;   
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 50%;
}

div {
    width: 50%;
}

