body {
    background:#cccc99;
    font-family: sans-serif;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    text-align: center;
}

.content {
    background: #eeeecc;
    padding: 7px;
}

ol {
    font-style: italic;
    font-size: 0.9em;
}
.code {
    font-family: monospace;
    font-size: 0.9em;
    display: block;
    white-space: pre;
    margin: 1em 0;
}

.copyright {
    font-weight: bold;
    font-size: 0.8em;
}